<div class="fieldInput">
  <input type="text" pInputText placeholder="login" class="ng-dirty ng-invalid"
         (input)="email = $event.target.value">
  <p-message class="message" severity="error" text="login jest wymagany" *ngIf="isEmailEmpty"></p-message>
</div>

<div class="fieldInput">
  <input type="password" pInputText placeholder="hasło" class="ng-dirty ng-invalid"
         (input)="password = $event.target.value">
  <p-message class="message" severity="error" text="hasło jest wymagane" *ngIf="isPasswordEmpty"></p-message>
</div>

<div class="fieldInput">
  <input type="text" pInputText placeholder="imie" class="ng-dirty ng-invalid"
         (input)="firstname = $event.target.value">
  <p-message class="message" severity="error" text="imie jest wymagane" *ngIf="isFirstnameEmpty"></p-message>
</div>

<div class="fieldInput">
  <input type="text" pInputText placeholder="nazwisko" class="ng-dirty ng-invalid"
         (input)="surname = $event.target.value">
  <p-message class="message" severity="error" text="nazwisko jest wymagane" *ngIf="isSurnameEmpty"></p-message>
</div>

<div class="fieldInput">
  <input type="number" pInputText placeholder="numer telefonu" class="ng-dirty ng-invalid"
         (input)="phoneNumber = $event.target.value">
  <p-message class="message" severity="error" text="numer telefonu jest wymagany" *ngIf="isPhoneNumberEmpty"></p-message>
</div>

<div class="fieldInput" [hidden]="!isAdmin()">
  <p-dropdown [options]="roles" [(ngModel)]="selectedRole"></p-dropdown>
</div>
<p-button style="margin-top: 20px" label="zarejestruj" (onClick)="register()" styleClass="ui-button-secondary"></p-button>
<p class="failMessage" *ngIf="failMessage">Wystąpiły błędy przy próbie zarejestrowania użytkownika</p>
