<p-pickList [source]="servicesToChoose" [target]="servicesChosen" [responsive]="true" [showSourceControls]="false" [showTargetControls]="false">
  <ng-template let-workshopService pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{workshopService.name}} - {{workshopService.price}}zł</div>
    </div>
  </ng-template>
</p-pickList>
<div class="fieldInput">
  <select [(ngModel)]="car">
    <option *ngFor="let c of cars" [ngValue]="c">{{c.licensePlate}}</option>
  </select>
  <p-button style="margin-left: 15px;" label="zgłoś" (onClick)="createRepairRequest()"
            styleClass="ui-button-secondary"></p-button>
</div>
