:host {
  width: 15%;
  display: flex;
  flex-direction: column;
  /*flex: 0 0 30%;*/
}

.menuContainer {
  width: 90%;
  float: right;
  right: 0;
  padding: 1rem;
  text-align: left;
}

.paragraph {
  font-size: 20px;
  font-style: italic;
}

.timeSpecifier {
  font-size: 15px;
}
